body{
  background: blue;
}
p{
  color:gray;
}
div{
  background-color: green;
  border-style: dashed;
  border-width: 2px;
  border-color: red;
  color:yellow;
}



span{
  background: white;
  color:red;
}
